@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Rubik:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-body;
    margin: 0;
    background-color: $color-base-white;

    &.open {
        overflow: hidden;
    }

    &.menu-open {
        overflow: hidden;
    }
}

h1 {
    font-size: 48px;
    font-family: $font-family-heading;
    font-weight: bold;

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            font-size: 36px;
            line-height: 45px;
        }
    }

    @include breakpoint(tablet, max) {
        font-size: 24px;
        line-height: 30px;
    }
}

h2 {
    font-size: 36px;
    font-family: $font-family-heading;
    font-weight: 400;

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            font-size: 24px;
            line-height: 35px;
        }
    }

    @include breakpoint(tablet, max) {
        font-size: 18px;
        line-height: 25px;
    } 
}

p {
    font-size: 21px;

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            font-size: 21px;
            line-height: 35px;
        }
    }
}

li {
    font-size: 20px;
}

a {
    font-family: $font-family-heading;
    font-size: 16px;
}