.disciplines-container {
    margin-bottom: 120px;
}

.disciplines-container-tabs,
.disciplines-container-content {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 15px;
}

.disciplines-tabs,
.disciplines-content {
    color: #fff;
    background-color: $color-dark-green;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.tabs-button {
    background-color: $color-khaki;
    height: 120px;
    width: 50%;
    padding: 44px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s linear;

   	.tabs-button-imgs {
		display: flex;
		justify-content: center;
		margin-right: 20px;

	  	svg {
			width: 36px;
			margin-left: 5px;
      	}
  	}

	h1 {
		color: $color-dark-green;
		font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.3s linear;
	}
}

.tabs-button.active {
	background-color: $color-dark-green;

	h1 {
		color: #fff;
	}

	.tabs-button-imgs svg g {
		stroke: $color-grass;
		transition: all 0.3s linear;
	}
}

.disciplines-content {
  	flex-direction: column;
}

.disciplines-buffer {
	background-color: $color-dark-green;
	height: 60px;
	width: 100%;
}

.disciplines {
  	display: none;
}

.disciplines.two.active,
.disciplines.three.active {
  	display: grid;
}

.disciplines.two {
  	grid-template-columns: 1fr 1fr;
}

.disciplines.three {
  	grid-template-columns: 1fr 1fr 1fr;
}

.discipline {
	color: $color-base-white;
	border-right: 1px solid $color-forest-green;
	padding: 0 60px;

	.discipline-img {
		display: flex;
		justify-content: center;
	}

	.heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 28px;
	}

	h2 {
		font-family: "Fira Sans", sans-serif;
		font-size: 24px;
		line-height: 32px;
		padding-left: 24px;
	}

	p {
		color: $color-grass;
		font-size: 16px;
		line-height: 32px;
		padding: 0 0 8px 24px;
	}

	ul {
		padding-bottom: 16px;
	}

	li {
		position: relative;
		font-size: 16px;
		line-height: 25px;
		padding: 0 0 20px 24px;
		list-style: none;

        &::before {
            content: url(/images/plus-ic-copy.png);
            position: absolute;
            left: 0;
        }
	}

	.tip {
		padding-bottom: 32px;

		img {
		padding-left: 24px;
		}

		P {
		color: $color-khaki;
		line-height: 25px;
		padding-top: 12px;
		}
	}

	.forbidden {
		text-decoration: underline;
		cursor: pointer;
	}

	.minus {
		display: none;

		li::before {
		content: url(/images/minus-ic.png);
		position: absolute;
		top: -5px;
		left: 0;
		}
	}
}

.minus.open {
  	display: block;
}

.discipline:last-of-type {
  	border-right: none;
}

.open-map {
	background-color: rgba(1, 87, 62, 0.7);
	height: 190px;
	margin: 0 auto;
	padding: 20px;
	max-width: 1140px;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		color: #fff;
		text-transform: uppercase;
		padding-left: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.disciplines-container {
		margin-bottom: 60px;
	}

	.disciplines-container-content {
		padding: 0;
	}

	.disciplines-container-tabs {
		padding: 0 40px;
	}

	.tabs-button {
		padding: 39px 34px 37px;

		h1 {
			line-height: 22px;
		}
	}

	.discipline {
		padding: 0 16px;

		.heading img {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.disciplines-container {
		margin-bottom: 60px;
	}

	.disciplines-container-content,
	.disciplines-container-tabs {
		padding: 0;
	}

	.tabs-button {
		padding: 0;
		flex-direction: column;

		.tabs-button-imgs {
			margin: 0;

			svg {
				width: 27px;
			}
		}

		h1 {
			font-size: 16px;
			line-height: 19px;
		}
	}

	.disciplines {
		overflow-x: auto;
	}

	.discipline {
		padding: 0 16px;

		.heading img {
			display: none;
		}
	}
}
