.footer-container {
	width: 100%;

	.top-container {
		background-color: $color-base-white;
	}
	
	.bottom-container {
		background-color: $color-pale-green;
	}

	.top, .bottom {
		margin: 0 auto;
		max-width: 1140px;
		padding: 20px;
	}

	.top {
		padding-bottom: 45px;

		p {
			color: $color-light-grey;
			font-size: 16px;
		}
	}

	.bottom {
		height: 174px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			color: $color-dark-green;
			font-size: 24px;
			padding-bottom: 10px;
			text-transform: uppercase;
		}

		a {
			color: #fff;
			font-family: "Rubik", sans-serif;
			font-size: 20px;
			padding-right: 20px;
			text-decoration: none;
		}
	}
}

@media (max-width: 767px) {
	.footer-container .bottom {
		flex-direction: column-reverse;
		align-items: initial;

		.left h1 {
			font-size: 18px;
			line-height: 20px;
			padding-bottom: 5px;
		}

		.contacts a {
			display: block;
			font-size: 16px;
			line-height: 20px;
		}
	}
}

