.footer-container {
	width: 100%;

	.top-container {
		background-color: $color-base-white;
	}
	
	.bottom-container {
		background-color: $color-pale-green;
	}

	.top, .bottom {
		margin: 0 auto;
		max-width: 1140px;
		padding: 20px;
	}

	.top {
		padding-bottom: 45px;

		p {
			color: $color-light-grey;
			font-size: 16px;
		}
	}

	.bottom {
		height: 174px;
		display: flex;
		justify-content: space-between;
		align-items: center;

        @include breakpoint(tablet, max) {
            flex-direction: column-reverse;
		    align-items: initial;
        }

		h1 {
			color: $color-dark-green;
			font-size: 24px;
			padding-bottom: 10px;
			text-transform: uppercase;

            @include breakpoint(tablet, max) {
                font-size: 18px;
                line-height: 20px;
                padding-bottom: 5px;
            }
		}

		a {
			color: #fff;
			font-family: $font-family-heading;
			font-size: 20px;
			padding-right: 20px;
			text-decoration: none;

            @include breakpoint(tablet, max) {
                display: block;
                font-size: 16px;
                line-height: 20px;
            }
		}
	}
}
