.header-container {
    height: 56px;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 60px;

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            max-width: 1024px;
            padding: 0 15px;
        }
    }

    @include breakpoint(tablet, max) {
        padding: 0 15px;
    }
}

header {
    position: relative;

    a {
        color: $color-dark-green;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        top: 28px;
        left: -30px;
        transform: translate(-50%, -50%);

        @include breakpoint(desktop, max) {
            left: 0;
            transform: translate(0, -50%);
        }
    }

    .short-lines {
        width: 116px;
        height: auto;
        position: absolute;
        left: 162px;

        @include breakpoint(tablet, min) {
            @include breakpoint(desktop, max) {
                left: 77px;
            }
        }

        @include breakpoint(desktop, max) {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .menu-icon {
        display: none;
        width: 26px;
        height: 18px;
        position: absolute;
        right: 0;
        top: 28px;
        transform: translateY(-50%);
        cursor: pointer;

        @include breakpoint(tablet, min) {
            @include breakpoint(desktop, max) {
                display: block;
            }
        }

        @include breakpoint(desktop, max) {
            display: block;
        }

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $color-dark-green;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2), &:nth-child(3) {
                top: 8px;
            }

            &:nth-child(4) {
                top: 16px;
            }
        }
    }

    .menu-icon.menu-open {
        span {
            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
}