.intro-container {
    margin: 0 auto 143px auto;
    max-width: 1440px;
    height: 500px;
    padding: 0 60px;

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            padding: 0 15px;
            margin-bottom: 95px;
            height: 330px;
        }
    }

    @include breakpoint(tablet, max) {
        height: 100%;
        padding: 0 15px;
        margin-bottom: 95px;
    }
}

.intro {
    background-image: url(/images/header-glass.png);
    background-position: center;
    color: #fff;
    max-width: 1320px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            height: 330px;
        }
    }

    @include breakpoint(tablet, max) {
        display: block;
        text-align: center;
        height: auto;
    }
}

.intro-banner {
    height: 274px;
    width: auto;
    padding-left: 102px;

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            height: 196px;
            padding-left: 50px;
        }
    }

    @include breakpoint(tablet, max) {
        height: 160px;
        padding: 25px 0 0 0;
    }
}

.intro-text {
    width: 750px;
    text-align: right;
    padding-right: 10%;

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            width: 430px;
            padding-right: 0;
            margin-right: 50px;
        }
    }

    @include breakpoint(tablet, max) {
        width: auto;
        text-align: center;
        padding: 23px 15px 35px 15px;
    }

    h1 {
        @include breakpoint(desktop, max) {
            padding-bottom: 14px;
        }
    }
}

.long-lines-container {
    position: relative;

    img {
        width: 116px;
        height: auto;
        position: absolute;
        left: 162px;

        @include breakpoint(tablet, min) {
            @include breakpoint(desktop, max) {
                left: 77px;
                top: -48px;
                z-index: -2;
            }
        }

        @include breakpoint(tablet, max) {
            left: 50%;
            transform: translateX(-50%);
            top: -48px;
            z-index: -2;
        }
    }
}