.intro {
    background: url(../Images/header-glass.png) #005238;
    color: #fff;
    max-width: 1320px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .intro-banner {
        height: 274px;
        width: 237px;
    }

    .intro-text {
        max-width: 652px;
        text-align: right;
    }
}