.nav-container {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

nav ul {
	list-style: none;
}

.soc-media {
	text-align: center;
	position: relative;
	left: 93px;

	li {
		padding-bottom: 16px;

        &:first-of-type {
            padding-top: 16px;
        }
	}

	.soc-media-icon {
		margin-right: 20px;
		transform: translateX(50%);
	}
}

.soc-media-icon {
	margin-right: 20px;
	transform: translateX(50%);
}

.nav-bar {
    border-right: 2px solid $color-pale-green;
    margin-right: 30px;
    width: 200px;

	li {
		height: 10vh;
		position: relative;

		.nav-element {
			color: $color-pale-green;
			font-size: 14px;
			line-height: 17px;
			padding: 14px;
			border-radius: 28px 0 0 28px;
			text-decoration: none;
			text-transform: uppercase;
			vertical-align: middle;
			position: absolute;
			right: 0;
			bottom: -1px;
			transform: translateY(50%);
			opacity: 0;
			z-index: -100;
		}

		.nav-circle {
			border: 2px solid $color-pale-green;
			border-radius: 50%;
			background-color: $color-base-white;
			height: 14px;
			width: 14px;
			position: absolute;
			right: -1px;
			bottom: -1px;
			transform: translate(50%, 50%);
			z-index: 1;

            &:hover + .nav-element {
                background-color: $color-base-white;
                opacity: 1;
                z-index: 0;
            }
		}
	}
}

@media (max-width: 1024px) {
	.nav-container {
        background-color: $color-base-white;
		display: none;
		position: static;
		width: 100vw;
		height: 100vh;

        &.menu-open {
            display: block;
        }
	}

	.short-lines.menu-open {
		display: none;
	}

	.soc-media {
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 1;

		li {
			display: inline;

            &:first-of-type {
                padding: 0 0 0 15px;
            }
		}
	}

	.nav-bar {
		position: absolute;
		right: 0;
		width: 300px;

		li {
			height: 5vh;
	
			.nav-element {
				color: $color-pale-green;
				font-size: 20px;
				line-height: 24px;
				opacity: 1;
				z-index: 0;
			}

            &:last-of-type {
                height: 15vh;
            }
		}
	}
}