.stats-container {
    margin: 0 auto 45px auto;
    max-width: 1440px;
    padding: 0 60px;
    overflow: hidden;

    @include breakpoint(desktop, max) {
        padding: 0 15px;
    }
}

.stats {
    max-width: 1320px;
    height: 704px;
    position: relative;

    @media (max-width: 1379px) {
        height: auto;
    }
}

.stats-content {
    position: absolute;
    max-width: 1053px;
    left: 162px;
    top: -1px;
    display: flex;

    @media (max-width: 1379px) {
        position: relative;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
    }
}

.stats-spinner {
    z-index: 10;

    @include breakpoint(desktop, min) {
        @media (max-width: 1379px) {
            position: absolute;
            left: 162px;
            top: -102px;
        }
    }

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            position: absolute;
            left: 77px;
            top: -102px;
        }
    }

    @include breakpoint(tablet, max) {
        position: absolute;
        left: -99px;
        top: -237px;
    }
}

.stats-text-left {
    text-align: center;
    position: absolute;
    top: 356px;
    left: 169px;

    h1 {
        font-size: 72px;
        line-height: 72px;
        color: $color-dark-green;
    }

    h2 {
        color: $color-dark-green;
        line-height: 36px;

        @include breakpoint(desktop, max) {
            font-size: 36px;
            line-height: 36px;
        }
    }

    span {
        font-family: $font-family-body;
        font-size: 16px;
        line-height: 40px;
        color: #749b70;
        text-decoration: underline;
        text-transform: uppercase;
        cursor: pointer;

        @include breakpoint(desktop, max) {
            line-height: 40px;
            color: color-pale-green;
            text-transform: uppercase;
        }
    }
}

.stats-text-right {
    max-width: 523px;
    height: 400px;
    position: relative;
    top: 357px;
    left: 60px;

    @include breakpoint(desktop, min) {
        @media (max-width: 1379px) {
            padding-top: 632px;
            max-width: 100%;
            height: auto;
            position: static;
        }
    }

    @include breakpoint(tablet, min) {
        @include breakpoint(desktop, max) {
            padding-top: 632px;
            max-width: 100%;
            height: auto;
            position: static;
            z-index: -3;
        }
    }

    @include breakpoint(tablet, max) {
        padding-top: 497px;
        max-width: 100%;
        height: auto;
        position: static;
    }

    h2 {
        color: $color-dark-green;
        padding-bottom: 24px;

        @include breakpoint(tablet, min) {
            @include breakpoint(desktop, max) {
                font-size: 36px;
                padding-bottom: 11px;
            }
        }

        @include breakpoint(tablet, max) {
            font-size: 24px;
            line-height: 28px;
            padding-bottom: 11px;
        }
    }

    p {
        color: $color-grey;
        font-size: 21px;
        line-height: 35px;

        @include breakpoint(tablet, max) {
            font-size: 18px;
            line-height: 30px;
        }
    }
}

.hyphen {
    background-color: $color-grass;
    position: absolute;
    top: 20px;
    left: -15px;
    transform: translateX(-100%);
    height: 8px;
    width: 28px;

    @media (max-width: 1379px) {
        display: none;
    }
}

//////////////////////
// modal
//////////////////////

.stats-modal {
    background-color: rgba(0,0,0,0.7);
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.stats-modal.open {
    display: block;
    z-index: 2000;
}

body.open {
    overflow: hidden;
}

.stats-modal-content {
    display: inline-block;
    max-width: 860px;
    position: relative;
}

.stats-modal-close {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 25px;

    .mdiv {
        height: 25px;
        width: 3px;
        margin-left: 12px;
        background-color: $color-base-white;
        transform: rotate(45deg);
        z-index: 1;
    }
    
    .md {
        height: 25px;
        width: 3px;
        background-color: $color-base-white;
        transform: rotate(90deg);
        z-index: 2;
    }
}


.modal-img {
    margin-top: 75px;

    &.full {
        display: none;
        width: 100%;
        
        @include breakpoint(tablet, min) {
            display: block;
        }
    }

    &.mobile {
        display: none;
        width: 100%;
    
        @include breakpoint(tablet, max) {
            display: block;
        }
    }
}