.tips-container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 60px 130px 60px;
}

.tips {
  max-width: 1320px;
  color: $dark-green;

  h1,
  .tips-content,
  .tips-bottom {
    max-width: 1140px;
    margin: 0 auto;
  }

  h1 {
    text-align: right;
    padding: 0 200px 75px 0;
  }
}

.tips-content {
  display: flex;
  justify-content: space-between;
}

.tips-left,
.tips-right {
  width: 460px;
}

.tips-card {
  position: relative;
  height: 300px;

  img {
    position: absolute;
    top: 10px;
  }

  .tips-text {
    padding-left: 90px;

    .top {
      line-height: 32px;
      padding: 10px 0;
    }

    .bottom {
      font-size: 1.6rem;
      line-height: 25px;
      color: #8f8f8f;
    }
  }
}

.tips-bottom {
  position: relative;
}

.tips-bottom-content {
  padding-left: 90px;

  img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tips-container {
    padding: 0 30px 110px 30px;
  }

  .tips h1 {
    font-size: 4.8rem;
    line-height: 57px;
    text-align: left;
    padding: 0 0 50px 0;
  }

  .tips-content {
    display: block;
  }
  
  .tips-left,
  .tips-right {
    width: 100%;
  }

  .tips-card {
    height: auto;
    padding-bottom: 75px;

    img {
      top: 0;
    }

    .tips-text {
      h2 {
        font-size: 3.6rem;
        line-height: 43px;
      }
  
      .top {
        padding: 8px 0 0 0;
      }
  
      .bottom {
        font-size: 1.6rem;
      }
    }
  }

  .tips-card:last-of-type {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .tips-container {
    padding: 0 15px 110px 15px;
  }

  .tips h1 {
    font-size: 2.4rem;
    line-height: 28px;
    text-align: left;
    padding: 0 0 25px 0;
  }

  .tips-content {
    display: block;
  }
  
  .tips-left,
  .tips-right {
    width: 100%;
  }

  .tips-card {
    height: auto;
    padding-bottom: 55px;

    img {
      width: 35px;
      position: absolute;
      top: 0;
    }

    .tips-text {
      padding-left: 50px;
      
      h2 {
        font-size: 2rem;
        line-height: 24px;
      }
  
      .top {
        padding: 8px 0 5px 0;
        font-size: 1.6rem;
        line-height: 25px;
      }
    }
  }

  .tips-card:last-of-type {
    padding-bottom: 50px;
  }

  .tips-bottom p {
    font-size: 1.6rem;
    line-height: 25px;
  }

  .tips-bottom-content {
    padding-left: 0;
      
    img {
      width: 57px;
      padding-bottom: 22px;
      position: static;
      transform: translateY(0);
    }
  }
}

.tips-bottom {
  position: relative;
}