$color-base-white: #f7f8f3;
$color-light-grey: #8f8f8f;
$color-grey: #777676;
$color-pale-green: #749B70;
$color-forest-green: #4b7e5f;
$color-dark-green: #01573e;
$color-grass: #83f715;
$color-khaki: #c7d492;