$color-dark-green: #01573e;
$color-khaki: #c7d492;
$color-grass: #83f715;
$color-grey: #777676;
$color-base-white: #f7f8f3;

$color-light-grey: #8f8f8f;

$color-pale-green: #749B70;

$color-forest-green: #4b7e5f;