@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Rubik:wght@400;700&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  background-color: #f7f8f3;
}

body.open {
  overflow: hidden;
}

body.menu-open {
  overflow: hidden;
}

h1 {
  font-size: 4.8rem;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

p {
  font-size: 2.1rem;
}

li {
  font-size: 2rem;
}

a {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 3.6rem;
    line-height: 45px;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 35px;
  }

  p {
    font-size: 2.1rem;
    line-height: 35px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.4rem;
    line-height: 30px;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 25px;
  }
}

@import "variables";
@import "menu";
@import "header";
@import "intro";
@import "watch";
@import "stats";
@import "tips";
@import "warmup";
@import "technique";
@import "disciplines";
@import "faq";
@import "footer";